:root.theme-dark {
  --background-image: url(/images/cover-image-dark.png);
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-bg-color: #FF0070;
  --text-quetion-title: #FF0070;
  --text-description-color: #000028;
  --point-title-color: #000028;
  --href-color: #FF0070;
}
